[submodule "src/biocluster"]
	path = src/biocluster
	url = git@git.majorbio.com:guo.quan/biocluster-core.git
[submodule "biocluster"]
	path = biocluster
	url = git@git.majorbio.com:guo.quan/biocluster-core.git
